<div class="backdrop-blur-lg bg-white/30 shadow-[10px_10px_5px_rgba(0,0,0,0.5)] flex flex-col items-center max-w-96 min-h-svh p-4 rounded-lg m-4 absolute top-20">
  <div class="bg-green-300 shadow-[10px_10px_5px_rgba(0,0,0,0.5)] w-48 min-h-48 rounded-lg p-2 relative -top-20">
    <img class="w-14" src="../../../assets/images/personal-bgless.png" alt="as">
  </div>
  <h1 class="text-xl font-semibold relative -top-14">Ruben Rodrigo</h1>
  <h1 class="text-xl font-semibold  relative -top-14 mb-6">Gorostiague Bonavento</h1>
  <h2 class="text-lg font-medium relative -top-16 mb-6 bg-slate-300/50 shadow-[5px_5px_5px_rgba(0,0,0,0.5)] rounded-2xl p-1 pr-3 pl-3">Full Stack Development</h2>
  <div class="redes"></div>
  <ul class="bg-white/50 p-4 rounded-lg">
    <li class="flex">
      <div class="bg-white w-12 h-12 mb-2 mr-2 rounded-2xl"><img src="../../../assets/icons/cib-github.svg" alt=""></div>
      Email<br>
      rodrigorostiague&#64;gmail.com</li>
    <hr class="border-black mb-4">
    <li>Phone<br>
      02494-207604</li>
    <hr class="border-black mb-4">
    <li>Location<br>
      Tandil - Bs As - Argentina</li>
    <hr class="border-black mb-4">
    <li>Birthday<br>
      06/05/1989</li>
    <hr class="border-black mb-4">
  </ul>
  <button class="mt-10 text-lg font-medium relative bottom-0 mb-6 bg-slate-300/50 shadow-[5px_5px_5px_rgba(0,0,0,0.5)] rounded-2xl p-1 pr-3 pl-3">Download CV</button>
</div>
