/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/images/orange-polygonal-background-fade-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
